.page {
    --background: #06a7ec; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .logo-container {
    margin: 30px 10px 10px 10px;
    display: flex;
    justify-content: center;
  }
  

  .login-card{
    margin: 20px 10px 10px 10px;
  }

  .singup-btn{
    --background: #06a7ec; 
  }

  .ion-text-center{
    margin:30px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }