<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="Add-file">
    <ion-button onclick="document.querySelector('#uploader').click()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      Upload File
    </ion-button>
    <input
      type="file"
      class="inputFile"
      id="uploader"
      (change)="readFile($event)"
    />
  </div>
  <div id="file-display"></div>
</ion-content>
